
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    padding-top: 150px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.site-header{
    background-color: #000152;
    width: 100%;
    height: 150px;
    padding: 4rem 0;
    text-align: end;
}

.site-pages{
color: aliceblue;
text-decoration: none;
padding: 10px;
margin-right: 150px;
font-size: 1.2rem;
}

.site-logo {
    width: 180px;
    margin-top: -85px;
    max-width: 100%;
    height: auto;
    margin-right: 1500px;
}
 
.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     max-width: 1200px;
     margin: 40px auto;
    padding: 0 20px;

}

.article-content{
    flex: 3;
    background-color: rgb(245, 193, 49);
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgb(46, 45, 43);
    border-radius: 50px;
}

.section-title{
    font-size: 1.2rem;
    text-align: end;
    margin-right: 100px;

}

.section-text{
    font-size: 1.2rem;
    text-align: end;
    margin-right: 100px;
}

.image-figure{
border-radius: 20px;
max-width: 100%;
height: auto;
}